html,
body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: #4d4d4d;
  height: 100%;

  // @include media-breakpoint-down-sm {
  //   background-color: var(--lightPrimary) !important;
  // }
}

.main {
  height: 100%;
}

.header,
.footer {
  padding: 0 20px;
  color: $colorWhite;
  background-color: #777777;
  height: 50px;
  line-height: 50px;
}
