@import "./newVariable.scss";

html,
body {
  height: 100%;
  margin: 0;
}

html {
  @include media-breakpoint-down-md {
    // background-color: var(--lightPrimary) !important;
    // height: 100%;
  }
}

body {
  font-family: "Poppins" !important;
  font-weight: 500;
  background-color: var(--backgroundColor) !important;
  position: relative;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  // @include media-breakpoint-down-sm {
  //   background-color: var(--lightPrimary) !important;
  // }

  .subscriptionmodal {
    .modal-dialog {
      max-width: 600px;
    }
    .modal-content {
      padding: 54px 0 30px;
    }
    .modal-header {
      border-bottom: 0;
      text-align: center;
      padding: 0;
      .modal-title {
        font-size: 30px;
        line-height: 38px;
        color: var(--primaryColor);
        text-align: center;
        flex: 1;

        @media (max-width: 640px) {
          font-size: 20px;
        }
      }

      .close {
        display: none;
      }
    }
    .modal-body {
      text-align: center;
      padding: 40px 0;

      input {
        width: 280px;
        height: 48px;
        background-color: #f0f0f0;
        border: 1px solid #979797;
        text-align: center;
        font-size: 22px;
        border-radius: 4px;
        color: var(--primaryColor);
        @media (max-width: 640px) {
          width: 200px;
          font-size: 14px !important;
        }
      }
    }
    .modal-footer {
      border-top: 0;
      padding: 0;
      text-align: center;
      display: block;

      button {
        margin: 0 auto;
        margin-bottom: 22px;
      }
    }
  }
  @media (max-width: 768px) {
    input[type="color"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    input[type="week"],
    select:focus,
    textarea {
      font-size: 16px;
    }
  }
}
.ff_card_reject_message {
  font-size: 18px;
}
.ff_box-wrapper {
  // background-color: var(----backgroundColor);
  box-shadow: 0 0 50px 0 var(--black-10);
}

.ff_page_wrapper {
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
  // overflow-x: hidden;
  // @include media-breakpoint-down-md {
  //   background-color: var(--lightPrimary) !important;
  // }

  .ff_active_sub {
    padding-top: 35px;
    position: relative;
  }
}
.ff_signup_bg {
  @include media-breakpoint-down-md {
    background-color: var(--lightPrimary) !important;
  }
}

label {
  color: var(--primaryColor);
  font-size: 17px;
}

.ff_formgroup {
  position: relative;
  display: flex;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;

  .ff_tags {
    display: block;
    margin-left: 30px;

    span {
      display: inline-block;
      font-size: 12px;
      color: var(--primaryColor);
      margin: 0 5px;
    }
  }

  .ff_addnewtag {
    border: solid 1px #41199b;
    font-size: 12px;
    text-align: center;
    color: #626164;
    width: 298px;
    margin: 0 auto;
    height: 27px;
    margin: 5px 0 10px;
    background-color: transparent;
  }
  .ff_notification {
    font-size: 12px;
  }

  label {
    white-space: nowrap;
    margin-right: 15px;
    padding: 0.375rem 0;
    text-transform: uppercase;
    color: var(--primaryColor);

    @include media-breakpoint-down-sm {
      font-size: 12px;
    }
  }

  .ff_formcontrol {
    background-color: transparent;
    border: none;
    font-size: 17px;
    height: 38px;
    border: none;
    outline: 0;
    box-shadow: none;
    color: var(--textColor);
    &.ff_bio {
      background-color: transparent;
      position: relative;
    }

    @include media-breakpoint-down-sm {
      height: 30px;
      font-size: 12px;
    }
  }

  .ff_bioicon {
    position: absolute;
    right: 0;
    top: 8px;
    bottom: 0;
    color: #626164;
    font-size: 16px;
  }
}
.form-group {
  label {
    text-transform: uppercase;
  }
  .ff_dob {
    color: var(--textColor);
    font-size: 14px;
    padding-left: 5px;
  }
}

a {
  color: var(--primaryColor);

  @include transition;

  &:hover {
    color: var(--secondaryColor);
    text-decoration: none !important;
  }
}

p {
  word-break: break-word !important;
}

input,
textarea {
  &:focus {
    outline: none;
    box-shadow: none !important;
    border-color: var(--primaryColor) !important;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.ff_page_profile_another_page_wrapper {
  display: block;
  min-height: 100% !important;

  @include media-breakpoint-down-md {
    display: flex;
    min-height: 100vh;
  }

  @include media-breakpoint-down-xs {
    min-height: 100%;
  }
}

.ff_signup_wrapper {
  margin: 50px 0;

  a {
    color: var(--primaryColor);

    &:hover {
      color: var(--secondaryColor);
    }
  }

  .ff_common_btn {
    min-width: 50%;
  }
}

// All Inputs Element Styles

.ff_feed_input {
  input {
    &:focus {
      color: $input-color !important;
    }
  }
}

.ff_input_block {
  margin-bottom: 20px;
  width: 100%;
  outline: 0;
}

.ff_m_input {
  @extend .ff_input;

  @include media-breakpoint-down-sm {
    // border-width: 0 0 1px 0 !important;
    // border-radius: 0 !important;
    // color: $input-color !important;

    &::placeholder,
    &::-ms-input-placeholder,
    &::-webkit-input-placeholder {
      color: $input-placeholder;
    }
  }
}

.ff_custom_input {
  width: 100%;
  border: 1px solid #ced4da !important;
  background-image: none !important;
  background-color: var(--inputFieldBGColor) !important;
  color: $input-color !important;

  &:focus {
    outline: none;
    border-color: var(--primaryColor) !important;
  }

  &::placeholder,
  &::-webkit-input-placeholder {
    color: $input-placeholder !important;
    opacity: 1 !important;
  }
}

textarea {
  width: 100%;
  resize: none !important;
  background-color: var(--inputFieldBGColor) !important;
  color: $input-color !important;

  &:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: var(--primaryColor) !important;
  }

  &::placeholder,
  &::-webkit-input-placeholder {
    color: $input-placeholder !important;
    opacity: 1 !important;
  }
}

.ff_custom_select {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  color: $input-color !important;

  &::after {
    content: "";
    position: absolute;
    top: 35%;
    right: 10px;
    transform: translateY(-35%);
    border: solid var(--primaryColor);
    border-width: 0 2px 2px 0;
    display: inline-block;
    font-size: 15px;
    padding: 4px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 3;
    color: var(--primaryColor);
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-radius: 0.25rem !important;

    // @include media-breakpoint-down-sm {
    //   border: 0;
    // }

    &:focus {
      outline: none;
      box-shadow: none;
      border-color: var(--primaryColor);
    }

    &::placeholder,
    &::-webkit-input-placeholder {
      color: $input-placeholder !important;
      opacity: 1 !important;
    }
  }

  > div {
    > div {
      padding: 5px 10px !important;

      span {
        background-color: var(--primaryColor) !important;
      }
    }
  }

  ul {
    li {
      &:first-child,
      &:hover {
        background-color: var(--primaryColor) !important;
      }
    }
  }
}

.ff_custom_select {
  display: flex;
  border-bottom: 1px solid #fff;
  background-color: transparent;

  label {
    white-space: nowrap;
    margin-right: 15px;
    padding: 0.375rem 0;
    text-transform: uppercase;

    @include media-breakpoint-down-sm {
      font-size: 12px;
    }
  }

  .ff_formcontrol {
    background-color: transparent !important;
    border: none;

    @include media-breakpoint-down-sm {
      height: 30px;
      font-size: 12px;
    }
  }
}

.ff_dateselect {
  width: 100%;

  @include media-breakpoint-down-sm {
    border-width: 0 0 2px 0;
    border-bottom: 2px solid #d1d3d6;
  }

  > div {
    width: 100%;
  }

  input {
    width: 100%;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    color: $input-color !important;
    background-color: var(--inputFieldBGColor) !important;

    @include media-breakpoint-down-sm {
      border-width: 0 0 2px 0;
      border-bottom: 2px solid #d1d3d6;
      border: 0;
    }
  }
}

.ff_SignupPhoneNumber {
  margin-bottom: 1rem;

  input {
    width: 100% !important;
    background-color: var(--inputFieldBGColor) !important;
    color: $input-color !important;

    &::placeholder,
    &::-webkit-input-placeholder {
      color: $input-placeholder !important;
      opacity: 1 !important;
    }
  }

  div {
    @include media-breakpoint-down-sm {
      border: none !important;
      background-color: transparent !important;
    }

    &:hover,
    &:focus {
      @include media-breakpoint-down-sm {
        border: transparent;
      }
    }
  }

  .ff_SignupPhoneLabel {
    color: var(--primaryColor);
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
    display: block;
  }
}

// Tag Input

.ff_FilterTag {
  padding: 3px 12px;
  background-color: var(--backgroundColor);
  color: var(--textColor);
  margin-right: 5px;
  border-radius: 6px;
  margin-bottom: 5px;
  display: inline-block;
  word-break: break-all;
}

.ff_TagremoveIcon {
  padding-left: 5px;
  font-size: 18px;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

.ff_align_center {
  @include media-breakpoint-down-sm {
    text-align: center;
  }
}

.ff_mobile_title_header {
  margin-bottom: 10px;

  @include media-breakpoint-down-sm {
    background-color: var(--primaryColor);
    color: $colorWhite;
    padding: 0 0 10px;
    margin: 0 0 30px;
    text-align: center;
  }
}

// new scss
// .ff_main_div {
//   background-color: var(--backgroundColor);
// }

.ff_header_title {
  background-color: var(--backgroundColor);
  text-align: center;
  padding: 0px 0px 16px;

  @include media-breakpoint-down-sm {
    background-color: var(--primaryColor);
  }

  h2 {
    color: $text-grey;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0px;

    @include media-breakpoint-down-sm {
      color: $colorWhite;
    }
  }
}

.ff_common_btn {
  display: block;
  background-color: var(--secondaryColor);
  color: $colorWhite;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
  border-radius: 30px !important;
  height: 44px;
  min-width: 160px;
  margin: 30px auto 12px;
  padding: 0 20px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.3s;

  &:hover {
    color: $colorWhite;
    text-decoration: none;
    background-color: var(--primaryColor);
  }

  &:focus {
    outline: none;
    color: $colorWhite;
    text-decoration: none;
    background-color: $dark-pink !important;
  }

  &:disabled {
    background-color: $dark-grey;
    box-shadow: 0px 5px 10px -5px rgba($color: $dark-grey, $alpha: 0.5) !important;
  }

  @include media-breakpoint-down-sm {
    width: 50%;
    height: 44px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
  }
}

.ff_tab_active {
  background-color: var(--primaryColor) !important;
  color: $colorWhite !important;
  box-shadow: 0px 5px 10px -5px rgba(65, 25, 155, 0.5) !important;

  &:focus {
    outline: none;
    color: $colorWhite;
    text-decoration: none;
    background-color: var(--primaryColor) !important;
    box-shadow: 0 0 0 0.2rem rgba(65, 25, 155, 0.5) !important;
  }
}

.ff_small_btn {
  height: 30px;
  font-size: 14px;
  padding: 0 10px;
  min-width: 100px;
  margin: 0;
}

.ff_BackIcon {
  padding-top: 5px;

  i {
    color: $colorWhite;
    font-size: 18px;
  }
}

.ff_custom_checkbox_wrapper {
  margin: 0;
  padding: 0 !important;

  label {
    color: var(--textColor);
  }
}

.ff_text_color_theme {
  color: var(--textColor);
}

.container-fluid {
  // margin: 0 auto;
  // width: auto;

  @include media-breakpoint-down-lg {
    max-width: 100%;
    width: 100%;
  }
}

.ff_alert_danger {
  color: var(--alertErrorColor);
  background-color: var(--alertErrorBg);
  border-color: var(--alertErrorBorder);
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  text-align: center;
}

.ff_alert_success {
  color: var(--alertSuccessColor);
  background-color: var(--alertSuccessBg);
  border-color: var(--alertSuccessBorder);
  position: relative;
  margin-top: 1rem;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  text-align: center;
}

.ff_popup_bg {
  background-color: var(--ButtonBGColor) !important;
  border-radius: 20px !important;
  &.ff_top_right {
    max-height: 73px !important;
    padding: 0 25px !important;
  }
  @include media-breakpoint-down-sm {
    max-width: 336px;
  }
}

.ff_popup_title {
  color: var(--textColor) !important;
  font-size: 18px;
}

// Inner Page Common Styles

.ff_inner_main_section {
  padding: 30px 0px 50px;
}

// Radio Button

.ff_radio {
  margin: 2px 0;

  input[type="radio"] {
    position: absolute;
    opacity: 0;

    + .ff_radiolabel {
      position: relative;
      font-size: 15px;
      text-transform: capitalize;
      padding-left: 15px;

      &::before {
        content: "";
        background: transparent;
        border-radius: 100%;
        border: 1px solid var(--colorWhite);
        display: inline-block;
        width: 22px;
        height: 22px;
        position: relative;
        top: 0px;
        margin-right: 12px;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
    }

    &:checked {
      + .ff_radiolabel {
        &::after {
          content: " ";
          position: absolute;
          height: 14px;
          width: 14px;
          background-color: var(--colorWhite);
          top: 10px;
          left: 19px;
          border-radius: 50%;
        }
      }
    }

    &:focus {
      + .ff_radiolabel {
        &::before {
          outline: none;
          border-color: $color1;
        }
      }
    }

    &:disabled {
      + .ff_radiolabel {
        &:before {
          border-color: darken($color1, 25%);
        }

        &::after {
          background-color: transparent;
        }
      }
    }

    + .ff_radiolabel {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}

// Checkbox styles
/* Base for label styling */

[type="checkbox"] {
  &:not(:checked),
  &:checked {
    position: absolute;
    left: -9999px;
  }

  &:not(:checked) + label,
  &:checked + label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
  }

  &:not(:checked) + label:before,
  &:checked + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 20px;
    height: 20px;
    border: 2px solid var(--primaryColor);
    background: $colorWhite;
    border-radius: 50px;
  }

  &:checked + label:before,
  &:checked + label:before {
    content: "";
    background: var(--primaryColor);
  }

  &:not(:checked) + label:after,
  &:checked + label:after {
    content: "\2713\0020";
    position: absolute;
    top: 8px;
    left: 6px;
    font-size: 12px;
    line-height: 0.8;
    color: $colorWhite;
    transition: all 0.2s;
    font-family: "Lucida Sans Unicode", "Arial Unicode MS", Arial;

    @include media-breakpoint-down-sm {
      left: 4px;
    }
  }

  &:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }

  &:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }

  &:disabled {
    &:not(:checked) + label:before {
      box-shadow: none;
      border-color: #bbb;
      background-color: #ddd;
    }

    &:checked + label {
      &:before {
        box-shadow: none;
        border-color: #bbb;
        background-color: #ddd;
      }

      &:after {
        color: #999;
      }
    }

    + label {
      color: #aaa;
    }
  }
}

.header_hide_only_desktop {
  display: none;

  @include media-breakpoint-down-md {
    display: block;
  }
}

.sidebar_hide_only_mobile {
  display: block;

  @include media-breakpoint-down-md {
    display: none;
  }
}

.ff_small_loader {
  position: fixed;
  top: 30%;
  left: 60%;
  transform: translateX(-50%);
  width: 300px;
  height: 300px;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  @include media-breakpoint-down-sm {
    display: none;
  }

  svg {
    fill: var(--primaryColor) !important;
  }
}

.ff_textPrimary {
  color: var(--primaryColor) !important;
  transition: all ease-in-out 0.3s;

  &:hover {
    color: var(--secondaryColor) !important;
  }
}

.ff_cursor_pointer {
  cursor: pointer;
}

.ff_profile_slider_wrapper {
  height: 100%;

  @include media-breakpoint-down-md {
    margin-left: 0px;
  }

  > div {
    width: 100%;
  }

  button {
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: $dark-pink;
    z-index: 1;

    &::before {
      content: "";
    }

    &:first-child {
      left: -40px;

      @include media-breakpoint-down-md {
        left: -20px;
      }

      @include media-breakpoint-down-sm {
        left: -12px;
      }
    }

    &:last-child {
      right: -40px;

      @include media-breakpoint-down-md {
        right: -20px;
      }

      @include media-breakpoint-down-sm {
        right: -12px;
      }
    }

    &:focus {
      box-shadow: none;
      background-color: $dark-pink;
    }

    &:hover {
      background-color: $dark-pink;
    }

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $colorWhite;
      font-size: 16px;
    }
  }

  img {
    max-height: 300px;
    overflow: hidden;
  }
}

// New Component Styles
.ff_btn_purple_bg {
  background-color: var(--lightPrimary);
  border-radius: 15px;
  padding: 55px 52px;
  max-width: 925px;
  margin: 0 auto;
  width: 100%;
}

// Button
.ff_btn_purple {
  border-radius: 50px !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  width: 213px;
  height: 41px;
  box-shadow: 0 2px 4px 0 var(--primaryColor);
  background-color: var(--primaryColor);
  color: var(--colorWhite) !important;
  border: none;
  margin-bottom: 20px;
  &:hover {
    outline: none !important;
    box-shadow: none !important;
    background-color: var(--secondaryColor);
    color: $colorWhite !important;
  }

  @include transition;

  cursor: pointer;

  &:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: var(--secondaryColor);
    border-color: var(--secondaryColor);
    color: $colorWhite;
  }

  @include media-breakpoint-down-sm {
    font-size: 16px !important;
    min-width: 180px;
    height: 38px !important;
  }

  &.ff_button_active {
    // color: var(--backgroundColor) !important;
    color: var(--colorWhite) !important;
    // background-image: linear-gradient(
    //   to right,
    //   var(--tabButtonGradient1),
    //   var(--tabButtonGradient2)
    // );
    background-color: var(--secondaryColor) !important;
  }
}
.ff_btn_white {
  border-radius: 50px !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  width: 213px;
  height: 41px;
  box-shadow: 0 2px 4px 0 var(--primaryColor);
  // background-image: linear-gradient(
  //   to right,
  //   var(--tabButtonGradient1),
  //   var(--tabButtonGradient2)
  // );
  color: var(--colorWhite) !important;
  background-color: var(--primaryColor);
  // background-color: var(--White-to-grey-btn);
  // border-color: transparent;
  border: none;
  margin-bottom: 20px;
  // color: var(--primaryColor);

  &:focus,
  &:active,
  &:hover,
  &:active:focus {
    border: none;
    outline: none !important;
    box-shadow: none !important;
    background-color: var(--secondaryColor);
    color: $colorWhite !important;
  }
}

.ff_new_alert_btn {
  font-style: normal;
  font-weight: 600 !important;
  font-size: 24px !important;
  line-height: 20px !important;
  // width: max-content;
  background: var(--ButtonBGColor) !important;
  border: 2px solid var(--primaryColor) !important;
  border-radius: 100px !important;
  box-sizing: border-box;
  color: var(--primaryColor) !important;
  -webkit-transition: unset;
  transition: unset;
  padding: 18px 0px !important;
  text-align: center;
  width: 360px;
  @include media-breakpoint-down-xxl {
    font-size: 22px !important;
    line-height: 30px !important;
    width: 300px !important;
  }
  @include media-breakpoint-down-lg {
    font-size: 20px !important;
    line-height: 28px !important;
  }
  @include media-breakpoint-down-sm {
    font-size: 16px !important;
    line-height: 24px !important;
    width: 280px !important;
    padding: 15px 0px !important;
  }
  &:focus {
    outline: none;
  }
  &:hover {
    background: var(--primaryColor) !important;
    color: var(--whiteTextColor) !important;
  }
  @include transition;
}

.ff_alert_btn {
  border-radius: 30px !important;
  color: $colorWhite !important;
  border: none !important;
  // box-shadow: unset !important;
  box-shadow: 0 2px 4px 0 var(--primaryColor);

  margin: 0 10px;
  min-width: 130px;
  height: 44px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  @include media-breakpoint-down-sm {
    height: 34px;
    padding: 7px 0;
    min-width: 100px;
    font-size: 14px !important;
  }
  &:hover {
    outline: none !important;
    box-shadow: none !important;
    background-color: var(--secondaryColor);
    color: $colorWhite !important;
  }
  @include transition;

  cursor: pointer;
  &:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: var(--secondaryColor);
    color: $colorWhite !important;
  }
}

.ff_alert_title {
  font-weight: 500 !important;
  color: $input-placeholder !important;
  line-height: 1.4;

  @include media-breakpoint-down-sm {
    font-size: 14px;
  }
}

.ff_confirm_button {
  // background-color: var(--primaryColor) !important;
  background-color: var(--primaryColor) !important;
  // background-image: linear-gradient(
  //   to right,
  //   var(--tabButtonGradient1),
  //   var(--tabButtonGradient2)
  // ) !important;
  color: var(--backgroundColor) !important;
}

.ff_cancel_button {
  background-color: $dark-grey !important;

  &:hover {
    opacity: 0.8;
  }
}

.ff_icon_warning {
  color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.ff_icon_info {
  color: var(--primaryColor) !important;
  border-color: var(--primaryColor) !important;
}

// Tags Input
.ff_tag_input {
  width: 100%;
  height: 38px;
  padding: 0.375rem 0.75rem;
  border: 1px solid var(--primaryColor);
  border-radius: 0.25rem;
}

.ff_input_search {
  margin: 0;
  // margin: 0 0 1rem;
  &.ff_search_filter {
    input {
      border-top-left-radius: 60px;
      border-bottom-left-radius: 60px;
      padding: 30px;
      @include media-breakpoint-down-md {
        padding: 22px;
      }
      @include media-breakpoint-down-sm {
        padding: 20px;
      }
    }
    div {
      span {
        border-top-right-radius: 60px;
        border-bottom-right-radius: 60px;
        padding: 16px 20px;
        margin-bottom: 0;
        font-size: 19px;
        @include media-breakpoint-down-md {
          padding: 8px 15px;
        }
        @include media-breakpoint-down-sm {
          padding: 6px 12px;
        }
      }
    }
  }
  &.ff_modal_search {
    padding: 14px 0px 20px;
    // padding: 25px 50px;
    margin: 0;
    border-bottom: 2px solid var(--inputFieldBGColor);
    // border-bottom: 2px solid #f3f3f3;
  }
  input {
    background-color: var(--inputFieldBGColor) !important;
    color: $input-color;
    border-color: #c3c1c1;
    border-right: 0;

    &::placeholder,
    &::-webkit-input-placeholder {
      color: $input-placeholder;
      font-weight: 500;
      font-size: 20px;
      @include media-breakpoint-down-md {
        font-size: 18px;
      }
      @include media-breakpoint-down-sm {
        font-size: 14px;
      }
    }
  }

  div {
    span {
      background-color: var(--inputFieldBGColor) !important;
      border-color: #c3c1c1;
      position: relative;
      border-left: none !important;
      border-right: 1px solid #d8d8d8 !important;
      border-top: 1px solid #d8d8d8 !important;
      border-bottom: 1px solid #d8d8d8 !important;
      &:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
        bottom: 15px;
        border-left: 1px solid #474747;
      }

      i {
        color: var(--secondaryColor);
        font-size: 22px !important;
        @include media-breakpoint-down-md {
          font-size: 16px !important;
        }
        @include media-breakpoint-down-sm {
          font-size: 12px !important;
        }
      }
    }
  }
}

// Select box
.ff_select_box {
  position: relative;
  margin-bottom: 1rem;

  select {
    color: var(--primaryColor);
    border-color: var(--primaryColor) !important;
    -webkit-appearance: none;
    font-weight: 500;

    &:disabled {
      background-color: var(--inputFieldBGColor) !important;
      color: $input-color !important;
    }

    &[readonly] {
      background-color: var(--inputFieldBGColor) !important;
      color: $input-color !important;
    }

    &::-ms-expand {
      display: none;
    }

    &:focus {
      color: var(--primaryColor);
      outline: none;
      box-shadow: unset;
    }
  }

  > div {
    > div {
      &:first-child {
        background-color: var(--inputFieldBGColor) !important;
        color: $input-color !important;
        padding: 0 30px 0 0 !important;
        min-height: 38px !important;
        // border-color: var(--primaryColor) !important;
      }

      &:last-child {
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
      }

      span {
        background-color: var(--primaryColor) !important;
        margin: 4px;
        white-space: normal;

        i {
          display: block;
        }
      }

      input {
        padding: 5px 5px 5px 10px !important;

        &::placeholder,
        &::-webkit-input-placeholder {
          color: $input-placeholder;
          font-weight: 500;
        }
      }

      i {
        display: none;
      }
    }

    ul {
      border-color: var(--primaryColor);

      li {
        &:hover {
          background-color: var(--primaryColor) !important;
          color: $colorWhite !important;
        }

        &:first-child {
          background-color: transparent;
          color: var(--primaryColor);
        }
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 40%;
    right: 15px;
    border: solid var(--secondaryColor);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3.5px;
    transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) rotate(45deg);
  }
}

.ff_dropdown_select {
  background-color: var(--inputFieldBGColor) !important;
  color: $input-color !important;
  border-color: var(--primaryColor) !important;
  height: 38px !important;
  position: relative;
  // div{

  //   input{
  //     height: 0;
  //     opacity: 0;
  //   }
  // }
  &:focus {
    outline: 0;
    box-shadow: unset !important;
  }

  &:focus-within {
    outline: 0;
    box-shadow: unset !important;
  }

  &::after {
    content: "";
    position: absolute;
    top: 16px;
    right: 30px;
    border: solid var(--secondaryColor);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3.5px;
    transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) rotate(45deg);
    opacity: 1;
  }

  div {
    &::after {
      content: "";
      display: none;
    }
  }

  > div {
    @include media-breakpoint-down-sm {
      width: 100%;
      flex-wrap: nowrap;
    }

    &:focus {
      outline: 0;
      box-shadow: unset;
    }

    > span {
      padding: 5px 10px;
    }

    ~ div {
      border: 1px solid var(--primaryColor);
      top: 40px;

      span {
        background-color: transparent !important;

        // color: var(--primaryColor) !important;
        color: rgb(65, 25, 155) !important;

        &:hover {
          background-color: var(--primaryColor) !important;
          color: $colorWhite !important;
        }
      }
    }

    input {
      color: $input-color;
      font-size: 16px;
      font-weight: 500;

      &::placeholder,
      &::-webkit-input-placeholder {
        color: $input-placeholder;
      }

      &:focus {
        outline: 0;
        box-shadow: unset;
      }
    }
  }

  &::after {
    right: 17px;
  }
}

// Tag Select Dropdown
.ff_tag_select_dropdown {
  margin: 0;
  padding: 0;

  > div {
    background-color: var(--inputFieldBGColor);
    border-color: var(--primaryColor) !important;
    box-shadow: none;

    &:focus {
      outline: none;
      box-shadow: none;
      border: 0;
    }

    > div {
      > div {
        color: $input-color;
        font-weight: 500;
      }
    }
  }
}

// Accordion
.ff_accordion_card {
  border: 0 !important;
  border-radius: 0 !important;
  padding-bottom: 1rem !important;
  background-color: transparent !important;
  cursor: pointer;

  .ff_accordion_header {
    position: relative;
    background-color: var(--inputFieldBGColor);
    border-radius: 0.25rem;
    color: $input-placeholder;
    border: 1px solid var(--primaryColor);
    font-weight: 500;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    margin-bottom: 0 !important;
    border-radius: 0.25rem !important;

    &::after {
      content: "";
      position: absolute;
      top: 40%;
      right: 15px;
      border: solid var(--secondaryColor);
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3.5px;
      transform: translateY(-50%) rotate(45deg);
      -webkit-transform: translateY(-50%) rotate(45deg);
    }
  }

  .ff_accordion_body {
    padding: 7px 0px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--backgroundColor);
  }
}

// Input Range
.ff_inputRange {
  div {
    > div {
      span {
        &:first-child {
          font-size: 14px;
          color: var(--secondaryColor);
          font-weight: 600;
        }

        div {
          background-color: var(--secondaryColor);
          border-color: var(--secondaryColor);
        }
      }

      > div {
        background: var(--primaryColor);

        span {
          div {
            background-color: var(--primaryColor);
            border-color: var(--primaryColor);
          }
        }

        > div {
          background: var(--primaryColor);
        }
      }
    }
  }
}

// User On and Off Styles
.ff_green_dots {
  padding-top: 2px;
  color: #65e038 !important;
  margin-left: 15px;
  font-size: 14px !important;

  @include media-breakpoint-down-sm {
    font-size: 10px;
  }
}

.ff_grey_dots {
  padding-top: 2px;
  color: #ccccc0 !important;
}

.ff_none_dots {
  opacity: 0;
  visibility: hidden;
}

.ff_none_dots {
  opacity: 0;
  visibility: hidden;
}

.ff_sold_by {
  display: block;
  margin: 8px 0;

  @include media-breakpoint-down-sm {
    margin: 4px 0 8px;
  }

  a {
    display: inline-flex;
    align-items: center;

    .ff_img {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      margin-right: 10px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
      overflow: hidden;

      img {
        @include imgCover;

        object-fit: cover;
      }
    }

    .ff_name {
      font-size: 16px;
      font-weight: bold;
      color: var(--primaryColor);

      @include transition;
    }

    &:hover {
      .ff_name {
        color: $dark-pink;
      }
    }
  }
}

// Profile Picture
.ff_profile_pic {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--backgroundColor);
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
  display: inline-block;
  overflow: hidden;

  @include media-breakpoint-down-sm {
    width: 38px;
    height: 38px;
  }

  img {
    @include imgCover;

    max-width: 100%;
    object-fit: cover;
  }
}

// Feeds DropDown Style
.ff_dropdown {
  position: absolute !important;
  top: 20px;
  right: 20px;
  width: 24px;

  button {
    position: relative;
    background-color: unset !important;
    border: 0 !important;
    padding: 0;
    z-index: 2;

    &::after {
      display: none;
    }

    &:focus {
      box-shadow: none !important;
      outline: 0;
    }
  }

  .ff_dropdown_menu {
    left: auto !important;
    transform: translate3d(-130px, -12px, 0px) !important;
    border: 0;
    z-index: 2;
    border-radius: 7px;
    background-color: var(--backgroundColor) !important;

    @include box-shadow;

    .ff_dropdown_menu_item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 7px 15px;
      font-size: 14px;
      line-height: 1.2;
      font-weight: 500;
      color: $input-placeholder !important;
      cursor: pointer;
      &.delete {
        color: red;
      }
      &:focus {
        box-shadow: unset;
        outline: 0;
      }

      &.active,
      &:active {
        color: $input-placeholder !important;
        text-decoration: none;
        background-color: transparent !important;
      }

      img {
        width: 23px;
        margin-right: 8px;
      }

      &.ff_delete_menuItem {
        color: var(--dark-red) !important;
      }
    }
  }
}

// user name with hours
.ff_user_name {
  h6 {
    font-size: 18px;
    font-weight: 500;
    color: var(--primaryColor);
    margin: 0;

    @include media-breakpoint-down-sm {
      font-size: 16px;
    }

    @include media-breakpoint-down-xs {
      font-size: 14px;
    }

    @include media-breakpoint-down-xss {
      display: grid;
    }
    span {
      font-size: 18px;

      @include media-breakpoint-down-sm {
        font-size: 16px;
      }

      @include media-breakpoint-down-xs {
        font-size: 14px;
      }
    }
  }

  span {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #aaaaaa;
    margin: 0;

    @include media-breakpoint-down-sm {
      font-size: 14px;
    }
  }
}

// Badge icon
.ff_badge_icon {
  padding-left: 5px;
  width: 40px !important;
  height: 40px !important;
}

.ff_message_no_found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-align: center;

  @include media-breakpoint-down-sm {
    min-height: 300px;
  }

  h4 {
    color: var(--textColor);
  }
}

.ff_input {
  background-color: var(--inputFieldBGColor) !important;
  color: $input-color !important;

  &::placeholder {
    color: $input-placeholder !important;
  }
}

// set svg icons styles.
.ff_svg_icon {
  width: 20px;
  margin-right: 5px;
  color: var(--primaryColor);

  svg {
    fill: var(--primaryColor);
  }

  &.edit_icon {
    g {
      g {
        fill: var(--primaryColor);
      }
    }
  }
}

.ff_header_logo {
  display: block;

  path,
  image {
    fill: var(--logoColor1);

    &:last-child {
      fill: var(--logoColor2);
    }
    &#path0 {
      fill: white;
    }
    &#path1 {
      fill: var(--logoColor1);
    }
    &#path2 {
      fill: var(--logoColor2);
    }
  }
}

.ff_firstBanner_main {
  width: 1430px;
  height: 350px;
  svg {
    height: 100%;
    width: 100%;
    path {
      &.path1 {
        fill: var(--landingPath1);
      }
      &.path2 {
        fill: var(--landingPath2);
      }
      &.path3 {
        fill: var(--landingPath3);
      }
    }
  }
}
.ff_firstBanner_main2 {
  width: 500px;
  height: 500px;
  svg {
    height: 100%;
    width: 100%;
    path {
      &.path1 {
        fill: var(--landingPath1);
      }
      &.path2 {
        fill: var(--landingPath2);
      }
      &.path3 {
        fill: var(--landingPath3);
      }
      &.path4 {
        fill: var(--landingPath2);
      }
      &.path5 {
        fill: var(--landingPath3);
      }
    }
  }
}

.ff_dashboard_no_found {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  h4 {
    color: var(--textColor);
    font-size: 18px;
  }

  @include media-breakpoint-down-md {
    min-height: 50vh;
  }

  @include media-breakpoint-down-sm {
    min-height: 300px;
    text-align: center;

    h4 {
      font-size: 16px;
      line-height: 1.5;
    }
  }
}

.ff_inputfile_wrapper {
  position: relative;

  label {
    background-color: var(--backgroundColor);
  }
  .ff_camera_img {
    position: absolute;
    width: 250px !important;
    height: 250px !important;
    @include media-breakpoint-down-sm {
      width: 175px !important;
      height: 150px !important;
    }
    @media (max-width: 1199px) and (min-width: 1024px) {
      width: 200px !important;
      height: 250px !important;
    }

    svg {
      height: 100%;
      width: 100%;
      object-fit: contain;
      object-position: center;

      @include media-breakpoint-down-md {
        max-height: 257px;
        padding: 0 20px;
      }
      @include media-breakpoint-down-sm {
        min-height: 0 !important;
      }
      rect {
        // fill: var(--secondaryColor);
        &:nth-child(4) {
          fill: var(--primaryColor);
        }

        &:nth-child(5) {
          stroke: var(--secondaryColor);
          fill: none;
        }
      }

      circle {
        stroke: var(--secondaryColor);

        &:last-child {
          fill: $colorWhite;
        }
      }
    }
  }
}

// Same design for Blog and Partners styles

.ff_content_box_wrapper {
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--backgroundColor);
  margin-bottom: 30px;
  height: 100%;

  .ff_content_box_image {
    min-height: 200px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;

    img {
      @include imgCover;

      object-fit: cover;
    }
  }

  .ff_partner_img_block {
    min-height: 150px;
    height: 240px;
    overflow: hidden;

    a {
      display: block;
      height: 100%;
    }
  }

  .ff_content_details {
    padding: 30px;

    .ff_date {
      font-size: 14px;
      color: $input-placeholder;
      margin-bottom: 15px;
    }

    .ff_title {
      font-size: 18px;
      font-weight: 500;
      color: var(--primaryColor);
      line-height: 1.4;
      margin-bottom: 15px;
    }

    .ff_desc {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.28;
      color: $input-placeholder;
    }

    .ff_read_more {
      position: relative;
      font-size: 14px;
      font-weight: 500;
      margin-top: 25px;
      cursor: pointer;

      a {
        color: var(--secondaryColor);

        &:hover {
          color: var(--primaryColor);
        }
        &::after {
          content: "";
          border: solid var(--secondaryColor);
          border-width: 0 3px 3px 0;
          display: inline-block;
          padding: 3px;
          margin-left: 5px;

          @include transition;

          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
        }
        &:hover {
          &::after {
            margin-left: 8px;
            border-color: var(--primaryColor);
          }
        }
      }
    }
  }
}

.ff_non_input_value {
  background-color: var(--inputFieldBGColor) !important;
  color: $input-color !important;
  height: auto !important;
}

// Slider Bullet
.ff_slider_wrapper {
  ul {
    li {
      margin: 0;

      button {
        &::before {
          font-size: 10px !important;
          color: var(--primaryColor) !important;
        }
      }
    }
  }
}

// custom class
.m-auto {
  margin: 0 auto;
}

// custom button design

.ff_btn {
  text-transform: capitalize;
  font-weight: 500;
  border-radius: 24px;
  text-align: center;
}

.ff_btn-sm {
  font-size: 15px;
  height: 33px;
}

.ff_btn-md {
  font-size: 18px;
  height: 44px;
}

.ff_btn_lg {
  height: 48px;
}

.ff_btn-primary {
  background-color: var(--primaryColor);
  color: var(----colorWhite);
}

.ff_btn-secondary {
  background-color: var(--secondary-light-color);
  color: var(----colorWhite);
}

// common image

.ff_userinformation {
  align-items: center;
  display: flex;

  .ff_useinfo {
    width: 203px;
    height: 203px;
    border-radius: 50%;
    box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.25);
    margin-right: 90px;
    position: relative;

    @include media-breakpoint-down-lg {
      height: 160px;
      width: 160px;
      margin-right: 23px;
      margin-left: 23px;
      margin-top: 0px;
      float: left;
    }
    @include media-breakpoint-down-sm {
      margin-right: 23px;
      height: 93px;
      width: 93px;
    }

    img {
      border-radius: 50%;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .ff_rewards {
      position: absolute;
      right: 10px;
      bottom: 10px;
      max-width: 42px;

      @include media-breakpoint-down-lg {
        max-width: 26px;
      }
      @include media-breakpoint-down-sm {
        max-width: 26px;
        right: 0;
        bottom: 0;
      }
    }
  }

  // common user detail block
  .ff_userdetails {
    h4 {
      font-size: 28px;
      text-transform: capitalize;
      color: var(--themeColorText);
      margin-bottom: 0;

      .ff_online {
        width: 14px;
        height: 14px;
        border-radius: 7px;
        background-color: #2ce114;
        vertical-align: bottom;
        margin-bottom: 7px;
      }
    }

    span {
      color: var(--themeColorText);
      font-size: 20px;
      margin-bottom: 15px;
      display: inline-block;
    }

    .ff_userpara {
      color: var(--themeColorText);
      font-size: 17px;
      margin-bottom: 13px;
      max-width: 298px;
    }
  }
}

.ff_star {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 0 -2.5px;

    li {
      color: var(--secondaryColor);
      display: inline-block;
      font-size: 14px;
      margin: 0 2.5px;
    }
  }
}

.ff_feedbtn {
  border-radius: 24px;
  box-shadow: 0 2px 4px 0 #e4daf8;
  background-color: #e4daf8;
}

.ff_purple_bg {
  background-color: var(--lightPrimary);
}

// common feed box
.ff_feedboxblock {
  position: relative;
  margin-bottom: 30px;
  border-radius: 4px;

  @include box-shadow;
  padding: 15px 20px;

  @include media-breakpoint-down-sm {
    padding: 0px;
    box-shadow: none;
  }
  .ff_post_wrapper_profile {
    margin-bottom: 15px;
  }

  .ff_content_input {
    display: flex;
    flex: 1;
    width: 100%;
    margin: 0 0 30px;

    @include media-breakpoint-down-sm {
      margin-bottom: 10px;
      width: 100%;
      flex-direction: row;
      align-items: center;
    }
  }

  .ff_post_wrapper_profile {
    display: inline-flex;
    .ff_feed_anchor_tag {
      display: flex;
    }
    @include media-breakpoint-down-xs {
      flex-wrap: wrap;
    }
    .ff_upload_text {
      @include media-breakpoint-down-xss {
        margin-top: 15px;
        margin-left: 0;
        min-width: 320px;
      }
    }

    .ff_profile_pic {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: var(--backgroundColor);
      box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
      display: inline-block;
      overflow: hidden;
      margin-right: 15px;

      @include media-breakpoint-down-sm {
        width: 38px;
        height: 38px;
      }

      img {
        @include imgCover;
        max-width: 100%;
        object-fit: cover;
      }
    }
  }
}

.ff_feedcomments {
  .ff_post {
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 20px;

    .ff_profile_pic {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: var(--backgroundColor);
      box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
      display: inline-block;
      overflow: hidden;

      @include media-breakpoint-down-sm {
        width: 38px;
        height: 38px;
      }

      img {
        @include imgCover;
        max-width: 100%;
        object-fit: cover;
      }
    }
  }
}

.ff_content_input_post_wrapper {
  flex: 1;
  display: flex;

  .ff_profile_pic {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--backgroundColor);
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
    display: inline-block;
    overflow: hidden;

    @include media-breakpoint-down-sm {
      width: 38px;
      height: 38px;
    }

    img {
      @include imgCover;
      max-width: 100%;
      object-fit: cover;
    }
  }

  @include media-breakpoint-down-sm {
    width: 100%;
    margin-right: 5px;
  }
}

.ff_cardmainblock {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}

.modal-lg {
  max-width: 700px;
}
.ff_uploadmodal {
  .modal-header {
    border-bottom: 0;

    .close {
      span {
        background-color: transparent;
      }
    }
  }
  .modal-lg {
    max-width: 700px !important;
  }
}
.ff_profileorder {
  background-color: var(--lightPrimary) !important;
  margin: 0 -15px;
  .ff_order_section_ {
    background-color: var(--lightPrimary) !important;
  }
  .ff_main_div {
    background-color: var(--lightPrimary) !important;
  }
}

// new Confirm alert design
.ff_action {
  display: flex !important;
  flex-flow: column !important;
}
.ff_action_ok {
  display: flex !important;
  flex-flow: column !important;
}
.ff_cancelbtn {
  background-color: transparent !important;
  color: var(--textColor) !important;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
  text-transform: uppercase;
  &:hover {
    background-color: transparent !important;
    background-image: unset !important;
  }
}
.ff_ok_button {
  background: transparent !important;
  border: 2px solid var(--redColor) !important;
  box-sizing: border-box;
  border-radius: 100px !important;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 26px !important;
  line-height: 40px !important;
  text-transform: uppercase !important;
  color: var(--redColor) !important;
  padding: 4px 100px !important;
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}
.ff_ok_title {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 37px;
  color: var(--redColor) !important;
}
.ff_cancel_btn_info {
  color: $dark-grey !important;
  border: none !important;
  background-color: $colorWhite !important;
  margin: 0 10px !important;
  min-width: 130px;
  height: 44px;
  font-size: 20px !important;
  padding: 10px;
  font-weight: 600 !important;
  transition: all 0.3s ease-in-out;
  @include media-breakpoint-down-sm {
    height: 34px;
    padding: 7px 0;
    min-width: 100px;
    font-size: 14px !important;
  }
  &:hover {
    outline: none !important;
    box-shadow: none !important;
    background-image: unset !important;
    background-color: $colorWhite !important;
  }
  &:focus {
    outline: none !important;
    box-shadow: none !important;
    background-image: unset !important;
    background-color: $colorWhite !important;
  }
  @include transition;

  cursor: pointer;
  &:focus {
    outline: none !important;
    box-shadow: none !important;
    background-image: unset !important;
    background-color: $colorWhite !important;
  }
}

.ff_cancel_btn_new {
  background-color: transparent !important;
  color: $dark-grey !important;
  border-radius: 30px !important;
  &:hover {
    background-image: unset !important;
  }
  @include media-breakpoint-down-sm {
    padding: 0;
  }
}

//for single option select dropdown
.ff_dropdown_wrapper_limit_one {
  position: relative;
  margin-bottom: 1rem;

  select {
    color: var(--primaryColor);
    border-color: var(--primaryColor) !important;
    -webkit-appearance: none;
    font-weight: 500;

    &:disabled {
      background-color: var(--inputFieldBGColor) !important;
      color: $input-color !important;
    }

    &[readonly] {
      background-color: var(--inputFieldBGColor) !important;
      color: $input-color !important;
    }

    &::-ms-expand {
      display: none;
    }

    &:focus {
      color: var(--primaryColor);
      outline: none;
      box-shadow: unset;
    }
  }

  > div {
    > div {
      &:first-child {
        background-color: var(--inputFieldBGColor) !important;
        color: var(--primaryColor) !important;
        border-color: var(--primaryColor) !important;
        padding: 0 30px 0 0 !important;
        max-height: 38px !important;
      }

      &:last-child {
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
      }

      span {
        font-size: 16px;
      }

      input {
        padding: 5px 5px 5px 10px !important;
        &::placeholder,
        &::-webkit-input-placeholder {
          color: $input-placeholder;
          font-weight: 500;
        }
      }

      i {
        display: none;
      }
    }

    ul {
      border-color: var(--primaryColor);

      li {
        color: var(--primaryColor);
        &:hover {
          background-color: var(--primaryColor) !important;
          color: $colorWhite !important;
        }
        &:first-child {
          background-color: transparent;
          color: var(--primaryColor);
        }
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 40%;
    right: 15px;
    border: solid var(--secondaryColor);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3.5px;
    transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) rotate(45deg);
  }
}
.ff_popular_catagories_wrapper {
  padding-bottom: 80px;
  // background-color: var(--backgroundColor);
  .ff_homepage_heading {
    // background-color: var(--primaryColor);
    padding: 5px;
    color: var(--primaryColor);
    text-align: center;
    // border-top: 1px solid var(--secondaryColor);
    margin-bottom: 30px;
    @include media-breakpoint-down-sm {
      margin-top: 18px;
    }
    &.ff_border_top {
      border-top: 0;
    }
    h1 {
      font-size: 40px !important;
      span {
        color: var(--secondaryColor);
      }
    }
    h4 {
      font-size: 40px !important;
      span {
        color: var(--secondaryColor);
      }
    }
  }

  .ff_categories_sec {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    .ff_first_row,
    .ff_two_row,
    .ff_three_row {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
  .ff_categories_box {
    text-align: center;
    margin: 15px;
    margin-top: 0;
    h4 {
      color: var(--primaryColor);
      font-size: 16px;
    }
    .ff_userName_ellipsis {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 200px;
      @include media-breakpoint-down-sm {
        width: 130px;
      }
      @include media-breakpoint-down-xs {
        width: 120px;
      }
      @include media-breakpoint-down-xss {
        width: 90px;
      }
    }
    .ff_categories {
      text-align: center;
      width: 200px;
      height: 200px;
      border: solid 4px transparent;
      border-radius: 6px;
      background-image: linear-gradient(white, white),
        linear-gradient(to right, var(--primaryColor), var(--secondaryColor));
      background-origin: border-box;
      background-clip: content-box, border-box;
      margin-bottom: 10px;
      transition: all 2s;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 2px;
      }

      @include media-breakpoint-down-sm {
        height: 130px;
        width: 130px;
        border-radius: 15px;
      }

      @include media-breakpoint-down-xs {
        height: 120px;
        width: 120px;
        border-radius: 10px;
      }
      @include media-breakpoint-down-xss {
        height: 90px;
        width: 90px;
        border-radius: 10px;
      }
    }

    .ff_userName_ellipsis {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 200px;
      @include media-breakpoint-down-sm {
        width: 130px;
      }
      @include media-breakpoint-down-xs {
        width: 120px;
      }
      @include media-breakpoint-down-xss {
        width: 90px;
      }
    }

    h4 {
      margin-bottom: 0;
    }

    &:hover {
      h4 {
        color: var(--secondaryColor);
      }

      .ff_categories {
        background-image: linear-gradient(white, white);
        transition: all 2s;
        box-shadow: 20px 40px 60px 0 rgba(65, 25, 155, 0.17);
      }
    }
    @include media-breakpoint-down-xs {
      margin: 8px;
    }
    &.panel_collapse {
      max-height: 500px;
      overflow: hidden;
      transition: max-height 0.5s ease;
    }
    &.panel_close {
      max-height: 0;
      display: none;
    }
  }

  .ff_seeallcatrgiries {
    border-radius: 41px;
    box-shadow: 0 2px 4px 0 var(--primaryColor);
    background-color: var(--primaryColor);
    // background: linear-gradient(
    //   90deg,
    //   var(--themeHomeGradient1) 0%,
    //   var(--themeHomeGradient2) 100%
    // );
    border: none;
    width: 350px;
    // height: 42px;
    color: $colorWhite;
    padding: 12px 104px;
    outline: none;
    margin-top: 30px;
    @include media-breakpoint-down-sm {
      width: 100%;
      max-width: 300px;
      padding: 12px 55px;
    }

    &:hover {
      outline: none !important;
      box-shadow: none !important;
      background-color: var(--secondaryColor);
      color: $colorWhite !important;
    }

    @include transition;
    cursor: pointer;

    &:focus {
      outline: none !important;
      box-shadow: none !important;
      background-color: var(--secondaryColor);
      border-color: var(--secondaryColor);
      color: $colorWhite;
    }
  }
  &.ff_model_section {
    // background-color: var(--lightPrimary) !important;
    // @include media-breakpoint-down-md {
    //   background-color: var(--lightPrimary) !important;
    // }
  }
  // how it works scss

  &.ff_how_it_works_section {
    @include media-breakpoint-down-sm {
      padding: 0;
    }
    .ff_HowItWorks_wrapper {
      margin: 60px 0;

      @media screen and (max-width: 320px) {
        margin: 40px 0;
      }

      .ff_logo {
        width: 140px;
        margin: 0 auto;
        @include media-breakpoint-down-md {
          display: none;
        }
      }

      .ff_title {
        font-family: "Qanelas Soft";
        font-size: 55px;
        line-height: 1;
        font-weight: 900;
        color: var(--logoColor2);
        text-align: center;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: var(--logoColor1);

        @include media-breakpoint-down-sm {
          font-size: 40px;
          -webkit-text-stroke-width: 2px;
        }

        @media screen and (max-width: 320px) {
          font-size: 30px;
        }
      }

      .ff_create_acc {
        position: relative;
        display: inline-block;
        font-size: 38px;
        line-height: 1.6;
        font-weight: 600;
        color: var(--primaryColor);
        border-bottom: 1px solid var(--secondaryColor);

        @include media-breakpoint-down-md {
          display: none;
        }
      }

      .ff_all_step_wrapper {
        margin: 30px 0 0;

        .ff_box_wrapper {
          margin: 0 0 30px;

          .ff_box {
            position: relative;
            width: 100%;
            min-height: 241px;
            border-radius: 6px;
            border: solid 8px var(--primaryColor);
            background-color: var(--backgroundColor);
            padding: 10px 20px 20px 15px;

            @include media-breakpoint-down-sm {
              min-height: 260px;
            }

            @media screen and (max-width: 320px) {
              min-height: 210px;
            }

            .ff_step_number {
              font-size: 45px;
              line-height: 1;
              font-weight: 600;
              color: #ff01c4;
              -webkit-text-stroke-width: 2px;
              -webkit-text-stroke-color: var(--primaryColor);

              @media screen and (max-width: 320px) {
                font-size: 35px;
              }
            }

            .ff_steps_img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 100%;
              height: 100%;
              padding: 10px;

              img {
                height: 100%;
                width: 100%;
                object-fit: contain;
              }
            }
          }

          p {
            font-size: 18px;
            line-height: 1.3;
            font-weight: 500;
            color: var(--primaryColor);
            padding: 0;
            margin: 30px 10px 0;

            @media screen and (max-width: 320px) {
              font-size: 16px;
              margin: 20px 10px 0;
            }
          }
        }
        iframe {
          width: 100%;
          max-height: 535px;
          @media screen and (max-width: 991px) {
            max-height: 400px;
          }
          @media screen and (max-width: 768px) {
            padding: 20px;
            max-height: 320px;
          }
        }
      }
    }
  }

  // blog section
  &.ff_blog_section {
    background-color: var(--lightPrimary) !important;
    .ff_blogPage_wrapper {
      margin: 60px 0 30px;

      .ff_content_box_wrapper {
        height: 100%;
      }
    }
    @include media-breakpoint-down-md {
      background-color: var(--lightPrimary) !important;
    }
  }
}
.ff_badge_img {
  position: absolute;
  top: -20px;
  right: 10px;
  @media (max-width: 1024px) {
    position: initial;
  }
}
.ff_no_profile_img {
  // img {
  // object-fit: cover !important;
  object-fit: contain !important;
  // }
}
.nextImg {
  object-fit: contain !important;
}
.seller-profile-pic {
  object-fit: cover;
  &.ff_no_profile_img {
    object-fit: contain !important;
  }
}

// error screen style
.ff_error_wrapper {
  width: 100%;
  height: 100vh !important;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center !important;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 7.5em;
    margin: 15px 0px;
    font-weight: bold;
  }
  h2 {
    font-weight: bold;
  }
  p {
    font-size: 24px;
  }
  .logo_err {
    width: 300px !important;
    margin: 0 auto;
    @include media-breakpoint-down-md {
      width: 200px !important;
    }
  }
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;

  @media (max-width: 560px) {
    margin-left: 0;
  }
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;

  @media (max-width: 560px) {
    padding-left: 0;
    max-width: 286px;
    margin: 0 auto;
  }
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}

.ff_new_landing_wrapper {
  // background: var(--backgroundColor);

  // section {
  //   background: var(--backgroundColor);
  // }
  .ff_homepage_heading {
    .ff_seo_text {
      text-align: center;
      color: var(--primaryColor);
      font-size: 40px !important;
      font-weight: bold;
      line-height: 1.26;
      display: inline-block;
      &.ff_small_h1 {
        font-size: 18px !important;
      }
      @include media-breakpoint-down-md {
        font-size: 18px !important;
      }
    }
  }
}
.ff_seo_text {
  text-align: center;
  color: var(--primaryColor);
  font-size: 18px !important;
  font-weight: bold;
  line-height: 1.26;
  display: inline-block;
  @include media-breakpoint-down-md {
    display: none;
  }
}

.ff_seo_text_mobile {
  display: none;
  text-align: center;
  color: var(--primaryColor);
  font-size: 18px;
  font-weight: bold;
  line-height: 1.26;
  text-align: center;
  width: 100%;
  @include media-breakpoint-down-md {
    display: inline-block;
  }
}
.ff_order_seo {
  margin: 10px auto;
  width: 100%;
}
.ff_modal_dialog {
  &.ff_sendoffer_form {
    .modal-dialog {
      max-width: 500px !important;

      .modal-content {
        padding: 30px 0 30px;

        .modal-body {
          padding-bottom: 0;

          .ff_content_wrapper {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  &.ff_filter_dialog {
    .modal-content {
      border-radius: 25px;
      padding: 5px;
    }
  }

  &.subscriptionmodal {
    .modal-header {
      .ff_change_price {
        font-size: 30px;
        line-height: 38px;
        color: red;
        text-align: center;
        flex: 1;
        margin-bottom: 5px;
      }
      display: block;
      padding: 0 60px;
      font-size: 18px;
      @include media-breakpoint-down-sm {
        padding: 0 30px;
        font-size: 14px;
      }
    }

    .modal-body {
      text-align: center;
      padding: 40px 0;
      .addon {
        text-align: center;
        font-size: 20px;
        border-radius: 4px;
        color: var(--primaryColor);
        position: relative;
        left: 20px;
      }
      input {
        width: 280px;
        height: 48px;
        background-color: #f0f0f0;
        border: 1px solid #979797;
        text-align: center;
        font-size: 16px;
        border-radius: 4px;
        color: var(--primaryColor);
        @media (max-width: 640px) {
          width: 200px;
        }
      }
      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
  &.ff_profile_seller {
    .modal-dialog {
      max-width: 600px;
    }
    .modal-content {
      padding: 54px 0 30px;
      border-radius: 20px;
    }
    .modal-header {
      border-bottom: 0;
      text-align: center;
      padding: 0;
      .modal-title {
        font-size: 30px;
        line-height: 38px;
        color: var(--primaryColor);
        text-align: center;
        flex: 1;

        @media (max-width: 640px) {
          font-size: 20px;
        }
      }

      .close {
        display: none;
      }
    }
    .modal-body {
      text-align: center;
      padding: 40px 0;
      input {
        width: 280px;
        height: 48px;
        background-color: #f0f0f0;
        border: 1px solid #979797;
        text-align: center;
        font-size: 16px;
        border-radius: 50px;
        color: var(--primaryColor);
        @media (max-width: 640px) {
          width: 200px;
          font-size: 14px;
        }
      }
      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      .addon {
        text-align: center;
        font-size: 20px;
        border-radius: 4px;
        color: var(--primaryColor);
        position: relative;
        left: 30px;
      }
    }
    .modal-footer {
      border-top: 0;
      padding: 0;
      text-align: center;
      display: block;

      button {
        margin: 0 auto;
        margin-bottom: 22px;
      }
    }
  }
}
.ff_albumdetailmodel {
  padding: 0px !important;
  .modal-dialog {
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin: 0px;
    .modal-content {
      height: 100%;
      background: transparent;
    }
  }
  .modal-header {
    border-bottom: 0px;
    padding: 0px;
  }
  .modal-body {
    padding: 0px;
  }
}
.ff-card-style {
  background-color: var(--lightPrimary);
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 50px;
  box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.25);
  margin-top: 118px;
  padding: 0 30px;
  padding-bottom: 20px;

  @include media-breakpoint-down-md {
    margin-top: 68px;
    padding: 0;
    min-height: 100vh;
    margin-bottom: 0;
  }
}
.bg_grey {
  background-color: var(--sectionBgColor);
}
.bg_white {
  background-color: var(--backgroundColor);
}
.howitwork_section {
  margin-top: -100px;
  &.remove_margin {
    margin-top: 0 !important ;
  }
  @media (max-width: 991px) {
    margin-top: -250px;
    &.remove_margin {
      margin-top: 0 !important ;
    }
  }
  @media (max-width: 576px) {
    margin-top: -170px;
  }
}

.ff_live_cam_section {
  margin-top: -100px;
  &.remove_margin {
    margin-top: 0 !important ;
  }
  @media (max-width: 991px) {
    margin-top: -250px;
    &.remove_margin {
      margin-top: 0 !important ;
    }
  }
  @media (max-width: 576px) {
    margin-top: -170px;
  }
}

.container-fluid {
  padding-right: 60px;
  padding-left: 60px;
  @media (max-width: 1024px) {
    padding-right: 30px;
    padding-left: 30px;
  }
  @media (max-width: 768px) {
    padding-right: 15px;
    padding-left: 15px;
  }
}
/* the slides */
.ff_slider_wrappersModel .slick-slide {
  margin: -10px 0px;
}
/* the parent */
// .ff_slider_wrappersModel .slick-list {
//   margin: 0 -10px;
// }

.ff_slider_wrappersModel .slick-active.slick-current {
  transform: scale(1.05);
}
.ff_slider_wrappersModel .slick-next:before,
.slick-prev:before {
  content: unset !important;
}
.ff_slider_wrappersModel .slick-next {
  @media (max-width: 1024px) {
    width: 41px !important;
    height: 45px !important;
    z-index: 1;
    right: -10px;
  }
}
.ff_slider_wrappersModel .slick-prev {
  @media (max-width: 1024px) {
    width: 41px !important;
    height: 45px !important;
    z-index: 1;
    left: -10px;
  }
}
.ff_testimonialslider .slick-dots li {
  @media (max-width: 768px) {
    width: 14px;
    height: 14px;
    margin: 0 2px;
  }
}
.ff_testimonialslider .slick-dots li button:before {
  color: var(--primaryColor);
  font-size: 16px;
  opacity: 1;
  @media (max-width: 768px) {
    font-size: 12px;
  }
}
.ff_testimonialslider .slick-dots li.slick-active button:before {
  color: var(--secondaryColor) !important;
}

.ff_filter_cat_box {
  .ff_blog_categories {
    display: flex;
    justify-content: space-between;
    span {
      margin-bottom: 40px;
    }
  }
  .modal-dialog {
    margin: 0;
    // margin-top: 90px;
    max-width: 100%;
    min-height: calc(100vh - 90px);
    height: calc(100vh - 90px);
    position: absolute;
    bottom: 0;
    overflow-x: hidden;
    width: 100%;
  }
  .modal-content {
    height: 100vh;
    border: unset;
    border-radius: unset;
    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 33px;
      color: #5d5b5f;
      margin-bottom: 40px;
    }
    ul {
      border: 0;
      padding: 0;

      li {
        width: 100%;
        margin: 0;
        list-style: none;
        padding: 10px;
        display: flex;
        align-items: center;
        @media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
          padding: 10px 25px;
        }

        a {
          position: relative;
          border: 0;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 30px;
          color: #5d5b5f;
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          @media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
            font-size: 16px;
          }
        }
        span {
          position: absolute;
          right: 30px;
          padding-top: 5px;
          color: #5d5b5f;
          @media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
            right: 5px;
          }
        }
      }
    }
  }
}
.ff_filter_cat_box .modal-lg {
  -webkit-transform: translateX(20%);
  -moz-transform: translateX(20%);
  -ms-transform: translateX(20%);
  transform: translateX(20%);
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.modal-open .ff_filter_cat_box .modal-lg {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.category_modal_opacity.modal-open .modal-backdrop.show {
  opacity: 0;
}
.ff_filter_cat_box .modal-content {
  height: calc(100vh - 90px);
}
// .pagination {
//   margin: 50px 0;
// }
// .page-item {
//   margin-right: 10px;
// }
// .page-item.active .page-link {
//   background-color: var(--primaryColor);
//   border-color: var(--primaryColor);
//   color: #fff;
// }
// .page-item .page-link {
//   background-color: var(--backgroundColor);
//   border-color: var(--primaryColor);
//   color: #fff;
// }
// .pagination .page-link {
//   color: var(--colorFaq);
//   span {
//     color: var(--colorFaq);
//   }
// }
.pagination {
  margin: 20px 15px;
  .page-item {
    margin-right: 10px;
    .page-link {
      color: var(--primaryColor) !important;
      span {
        color: var(--primaryColor) !important;
      }
    }
    &.active {
      .page-link {
        color: #fff !important;
        span {
          color: #fff !important;
        }
        background-color: var(--primaryColor) !important;
        border-color: var(--primaryColor) !important;
        color: #fff;
      }
    }
  }
}
.custom_filter_open {
  .modal-backdrop {
    background-color: #fff !important;
  }
  .modal-backdrop.show {
    opacity: 0.6;
  }
}
.common_filter_model {
  right: 0 !important;
  // top: 25%;
  overflow-x: scroll !important;
  .modal-dialog {
    margin-left: auto !important;
    max-width: 25%;
    min-height: 100vh;
    height: 100vh;
    width: 25%;
    margin: 0;
    @include media-breakpoint-down-md {
      width: 100%;
      max-width: 100%;
    }
  }
  .modal-header {
    border-bottom: 2px solid var(--inputFieldBGColor);
    @include media-breakpoint-down-md {
      padding: 0 !important;
    }
  }
  .modal-content {
    height: 100vh;
    border: unset !important;
    border-radius: unset !important;
    padding: 0px !important;
    background: var(--backgroundColor) !important;
    .modal-body {
      border-left: 0.5px solid #f3f3f3 !important;
      background: var(--backgroundColor) !important;
    }
    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 33px;
      color: var(--textColor);
      margin-bottom: 40px;
    }
    ul {
      border: 0;
      padding: 0;

      li {
        width: 100%;
        margin: 0;
        list-style: none;
        padding: 10px;
        display: flex;
        align-items: center;
        @media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
          padding: 10px 25px;
        }

        a {
          position: relative;
          border: 0;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 30px;
          color: var(--textColor);
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          @media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
            font-size: 16px;
          }
        }
        span {
          position: absolute;
          right: 30px;
          padding-top: 5px;
          color: var(--textColor);
          @media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
            right: 5px;
          }
        }
      }
    }
  }
}
.common_filter_model .modal-lg {
  -webkit-transform: translateX(20%);
  -moz-transform: translateX(20%);
  -ms-transform: translateX(20%);
  transform: translateX(20%);
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.modal-open .common_filter_model .modal-lg {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}
.abcde {
  position: relative;
  .slick-prev,
  .slick-next {
    position: absolute;
    top: 50%;
  }
  .slick-prev {
    left: 5%;
  }
  .slick-next {
    right: 5%;
  }
}
input:focus,
textarea:focus {
  border: 1px solid #d8d8d8 !important;
}
swal2-styled:active {
  background-image: unset !important;
}
.swal2-styled:focus {
  outline: none !important;
  box-shadow: none !important;
}
.ff_PayoutModal {
  div {
    background-color: transparent !important;
    border: none;
  }
  .ff_ModalContent {
    border-radius: 30px !important;
    background-color: $colorWhite !important;
  }

  .ff_modalHeader {
    border-bottom: 0;
    text-align: center;
    position: relative;
    display: flex;
    padding-bottom: 15px;
    .ff_ModalHeading {
      font-size: 22px;
      width: 100%;
      color: var(--primaryColor);
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0px;
      top: 10px;
      @include media-breakpoint-down-xs {
        font-size: 20px;
      }
    }
    .close {
      z-index: 1;
    }
  }

  .ff_modal_body {
    &.ff_payout {
      text-align: center;
      padding: 30px;
    }

    .ff_payout_Note {
      font-size: 18px;
      margin-bottom: 20px;
      display: block;

      @include media-breakpoint-down-xs {
        font-size: 16px;
      }
    }

    .ff_cardContent_payout_wrapper {
      width: 100%;
      margin: 0 auto;
      justify-content: center;
    }
  }
}
.DateRangeModal {
  .rdrCalendarWrapper {
    color: var(--primaryColor);
    font-size: 17px;
    @include media-breakpoint-down-sm {
      font-size: 10px;
      width: 100%;
    }
    .rdrMonth {
      @include media-breakpoint-down-sm {
        width: 100%;
      }
    }
  }
  // .rdrDayToday {
  //   color: var(--primaryColor) !important;
  //   span {
  //     color: var(--primaryColor) !important;
  //   }
  //   .rdrDayNumber {
  //     span{
  //     color: var(--whiteTextColor) !important;
  //   }
  //   }
  // }
}
.swal2-content {
  color: var(--textTitleColor) !important;
}
.signupmodelmain {
  padding-right: 0;
  .modal-dialog {
    @include media-breakpoint-down-sm {
      max-width: 630px !important;
    }
  }
  .modal-content {
    border-radius: 20px;
    max-width: 890px;
    margin: 0 auto;
    width: 100%;
    @include media-breakpoint-down-xxl {
      max-width: 740px;
    }
  }
  .modal-header {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    color: var(--textDarkGreyColor);
    margin: 47px auto 0;
    border: none;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    @include media-breakpoint-down-xxl {
      font-size: 22px;
      line-height: 30px;
    }
    @include media-breakpoint-down-lg {
      font-size: 20px;
      line-height: 28px;
    }
    // @include media-breakpoint-down-xs {
    //   font-size: 16px;
    //   line-height: 24px;
    // }
    .closebutton {
      position: absolute;
      right: 15px;
      top: -35px;
      Svg {
        width: 32px;
        height: 32px;
      }
    }
  }
  .ff_btn_wrappermain {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @include media-breakpoint-down-xxl {
      justify-content: space-around;
    }
    &.ff_agreebtn {
      justify-content: center;
      .ff_btn_wrapper {
        .buttonblock {
          font-size: 20px;
          line-height: 28px;
          width: 280px;
          padding: 18px 0px;
        }
      }
    }
    .ff_btn_wrapper {
      display: flex;
      flex-direction: column;
      margin: 0 7px;
      .buttonblock {
        border-radius: 100px;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 37px;
        // width: max-content;
        background: var(--ButtonBGColor);
        border: 2px solid var(--primaryColor);
        box-sizing: border-box;
        color: var(--primaryColor);
        -webkit-transition: unset;
        transition: unset;
        padding: 25px 0px;
        text-align: center;
        width: 360px;
        @include media-breakpoint-down-xxl {
          font-size: 22px;
          line-height: 30px;
          width: 300px;
          padding: 18px 0px;
        }
        @include media-breakpoint-down-lg {
          font-size: 20px;
          line-height: 28px;
        }
        @include media-breakpoint-down-md {
          width: 200px;
          font-size: 18px;
        }
        @include media-breakpoint-down-xs {
          font-size: 16px;
          line-height: 24px;
          width: 170px;
          padding: 15px 0px;
        }
        @include media-breakpoint-down-xss {
          width: 140px;
          font-size: 14px;
        }
        @include media-breakpoint-down-xss {
          width: 140px;
          font-size: 14px;
        }
        @include media-breakpoint-down-xsss {
          width: 110px;
        }
        &:focus {
          outline: none;
        }
        &:hover {
          background: linear-gradient(
            87.84deg,
            var(--first-color),
            var(--last-color)
          );
          color: var(--whiteTextColor);
        }
      }
    }
    span {
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 37px;
      color: var(--textTitleColor);
    }
  }
  .mobilemodal {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .ff_btn_wrapper {
      align-items: center;
    }
    span {
      margin-bottom: 20px;
    }
  }
  .modelcontentmain {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    padding: 0 10px;
    gap: 50px;
  }
  .modelcontent {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    text-align: left;
    color: var(--textTitleColor);
    margin: 30px 0;
    padding: 0 15px;
    text-align: center;
    @include media-breakpoint-down-xxl {
      font-size: 18px;
      line-height: 24px;
    }

    @include media-breakpoint-down-xs {
      margin: 10px 0 30px;
      font-size: 14px;
      line-height: 24px;
      padding: 0 8px 0 0;
    }
  }
  .modal-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 26px;
      text-align: center;
      color: var(--textDarkGreyColor);
      margin: 30px 0;
      padding: 0 15px;
    }
  }
}
.ff_upload_offer_content_modal {
  .modal-content {
    border-radius: 20px;
  }

  .modal-header {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    color: var(--primaryColor);
    margin: 10px auto 0;
    border: none;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    @include media-breakpoint-down-xxl {
      font-size: 22px;
      line-height: 30px;
    }
    @include media-breakpoint-down-lg {
      font-size: 20px;
      line-height: 28px;
    }
    @include media-breakpoint-down-sm {
      font-size: 16px;
      line-height: 24px;
    }
    .closebutton {
      position: absolute;
      right: 15px;
      top: 10px;
      cursor: pointer;
      Svg {
        width: 32px;
        height: 32px;
      }
    }
  }
}
.ff_star_rating_modal {
  .modal-content {
    border-radius: 20px;
    padding: 0 15px;
  }
  .modal-header {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    color: var(--primaryColor);
    margin: 10px auto 0;
    border: none;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    @include media-breakpoint-down-xxl {
      font-size: 22px;
      line-height: 30px;
    }
    @include media-breakpoint-down-lg {
      font-size: 20px;
      line-height: 28px;
    }
    @include media-breakpoint-down-sm {
      font-size: 16px;
      line-height: 24px;
    }
    .closebutton {
      position: absolute;
      right: 15px;
      top: 10px;
      cursor: pointer;
      Svg {
        width: 32px;
        height: 32px;
      }
    }
  }
}
.ff_report_user_modal {
  padding-right: 0px;
  .modal-content {
    border-radius: 20px;
    padding: 0px 15px 16px;
  }
  .modal-header {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    color: var(--primaryColor);
    margin: 10px auto 0;
    border: none;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    @include media-breakpoint-down-xxl {
      font-size: 22px;
      line-height: 30px;
    }
    @include media-breakpoint-down-lg {
      font-size: 20px;
      line-height: 28px;
    }
    @include media-breakpoint-down-sm {
      font-size: 16px;
      line-height: 24px;
    }
    .closebutton {
      position: absolute;
      right: 15px;
      top: 10px;
      cursor: pointer;
      Svg {
        width: 32px;
        height: 32px;
      }
    }
  }
  textarea {
    margin: 15px 0;
    background: var(--inputFieldBGColor) !important;
    border: none !important;
    border-radius: 20px;
    padding: 12px 20px;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: var(--textDarkGreyColor) !important;
    &::placeholder {
      font-size: 18px;
      line-height: 27px;
      color: var(--textDarkGreyColor) !important;

      @include media-breakpoint-down-sm {
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
  .ff_btn_wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px auto 15px;
    .buttonblock {
      border-radius: 100px;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 35px;
      // width: max-content;
      background: var(--ButtonBGColor);
      border: 2px solid var(--primaryColor);
      box-sizing: border-box;
      color: var(--primaryColor);
      -webkit-transition: unset;
      transition: unset;
      padding: 16px 0px;
      text-align: center;
      max-width: 360px;
      width: 100%;
      margin: 0 auto;
      @include media-breakpoint-down-xxl {
        font-size: 20px;
        line-height: 28px;
        max-width: 300px;
        padding: 18px 0px;
      }

      @include media-breakpoint-down-sm {
        font-size: 16px;
        line-height: 24px;
        max-width: 280px;
        padding: 15px 0px;
      }
      &:focus {
        outline: none;
      }
      &:hover {
        background: linear-gradient(
          87.84deg,
          var(--first-color),
          var(--last-color)
        );
        color: var(--whiteTextColor);
      }
    }
  }
  .msglabel {
    font-size: 16px;
    line-height: 24px;
    color: var(--textDarkGreyColor) !important;
  }
}
.ff_sendofferUserprofile_modal {
  .modal-content {
    border-radius: 20px;
    padding: 0 15px;
    background: var(--backgroundColor) !important;
  }
  .modal-header {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    color: var(--primaryColor);
    margin: 10px auto 0;
    border: none;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    @include media-breakpoint-down-xxl {
      font-size: 22px;
      line-height: 30px;
    }
    @include media-breakpoint-down-lg {
      font-size: 20px;
      line-height: 28px;
    }
    @include media-breakpoint-down-sm {
      font-size: 16px;
      line-height: 24px;
    }
    .closebutton {
      position: absolute;
      right: 15px;
      top: 10px;
      cursor: pointer;
      svg {
        width: 32px;
        height: 32px;
        path {
          stroke: var(--primaryColor);
        }
      }
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid transparent;
  -webkit-text-fill-color: var(--textDarkGreyColor) !important;
  -webkit-box-shadow: 0 0 0px 1000px var(--inputFieldBGColor) inset;
  transition: background-color 5000s ease-in-out 0s;
}
.ff_ChatBlockUser_modal {
  padding-right: 0px;
  .modal-content {
    border-radius: 20px;
    padding: 0 15px;
  }
  .modal-header {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    color: var(--primaryColor);
    margin: 10px auto 0;
    border: none;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    @include media-breakpoint-down-xxl {
      font-size: 22px;
      line-height: 30px;
    }
    @include media-breakpoint-down-lg {
      font-size: 20px;
      line-height: 28px;
    }
    @include media-breakpoint-down-sm {
      font-size: 16px;
      line-height: 24px;
    }
    .closebutton {
      position: absolute;
      right: 15px;
      top: 10px;
      cursor: pointer;
      Svg {
        width: 32px;
        height: 32px;
      }
    }
  }
  textarea {
    margin: 15px 0;
    background: var(--inputFieldBGColor) !important;
    border: none !important;
    border-radius: 20px;
    padding: 12px 20px;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: var(--textDarkGreyColor) !important;
    &::placeholder {
      font-size: 18px;
      line-height: 27px;
      color: var(--textDarkGreyColor) !important;

      @include media-breakpoint-down-sm {
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
  .ff_btn_wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px auto 15px;
    .buttonblock {
      border-radius: 100px;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 35px;
      // width: max-content;
      background: var(--ButtonBGColor);
      border: 2px solid var(--primaryColor);
      box-sizing: border-box;
      color: var(--primaryColor);
      -webkit-transition: unset;
      transition: unset;
      padding: 16px 0px;
      text-align: center;
      max-width: 360px;
      width: 100%;
      margin: 0 auto;
      @include media-breakpoint-down-xxl {
        font-size: 20px;
        line-height: 28px;
        max-width: 300px;
        padding: 18px 0px;
      }

      @include media-breakpoint-down-sm {
        font-size: 16px;
        line-height: 24px;
        max-width: 280px;
        padding: 15px 0px;
      }
      &:focus {
        outline: none;
      }
      &:hover {
        background: linear-gradient(
          87.84deg,
          var(--first-color),
          var(--last-color)
        );
        color: var(--whiteTextColor);
      }
    }
  }
  .msglabel {
    font-size: 16px;
    line-height: 24px;
    color: var(--textDarkGreyColor) !important;
  }
}
.PayoutReqModel {
  padding-right: 0px;
  .modal-content {
    border-radius: 20px;
    padding: 0 15px;
  }
  .modal-header {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    color: var(--primaryColor);
    margin: 10px auto 0;
    border: none;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    @include media-breakpoint-down-xxl {
      font-size: 22px;
      line-height: 30px;
    }
    @include media-breakpoint-down-lg {
      font-size: 20px;
      line-height: 28px;
    }
    @include media-breakpoint-down-sm {
      font-size: 16px;
      line-height: 24px;
    }
    .closebutton {
      position: absolute;
      right: 15px;
      top: 10px;
      cursor: pointer;
      Svg {
        width: 32px;
        height: 32px;
      }
    }
  }
  input {
    margin: 10px 0px 20px;
    background: var(--inputFieldBGColor) !important;
    border: none !important;
    border-radius: 28px;
    padding: 30px 25px;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: var(--textDarkGreyColor) !important;
    &::placeholder {
      font-size: 18px;
      line-height: 27px;
      color: var(--textDarkGreyColor) !important;

      @include media-breakpoint-down-sm {
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
  .ff_btn_wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px auto 15px;
    .buttonblock {
      border-radius: 100px;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
      // width: max-content;
      background: var(--ButtonBGColor);
      border: 2px solid var(--primaryColor);
      box-sizing: border-box;
      color: var(--primaryColor);
      -webkit-transition: unset;
      transition: unset;
      padding: 16px 0px;
      text-align: center;
      max-width: 320px;
      width: 100%;
      margin: 0 auto;
      @include media-breakpoint-down-xxl {
        font-size: 20px;
        line-height: 28px;
        max-width: 300px;
        padding: 18px 0px;
      }

      @include media-breakpoint-down-sm {
        font-size: 16px;
        line-height: 24px;
        max-width: 280px;
        padding: 15px 0px;
      }
      &:focus {
        outline: none;
      }
      &:hover {
        background: linear-gradient(
          87.84deg,
          var(--first-color),
          var(--last-color)
        );
        color: var(--whiteTextColor);
      }
    }
  }
  .msglabel {
    font-size: 16px;
    line-height: 24px;
    color: var(--textDarkGreyColor) !important;
  }
}

.subscirption_ended {
  padding-right: 0px;
  .modal-content {
    border-radius: 20px;
    padding: 0 15px;
  }
  .ff_btn_wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px auto 15px;
    .buttonblock {
      border-radius: 100px;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
      // width: max-content;
      background: var(--ButtonBGColor);
      border: 2px solid var(--primaryColor);
      box-sizing: border-box;
      color: var(--primaryColor);
      -webkit-transition: unset;
      transition: unset;
      padding: 14px 0px;
      text-align: center;
      max-width: 260px;
      width: 100%;
      margin: 0 auto;

      @include media-breakpoint-down-sm {
        font-size: 16px;
        line-height: 24px;
        max-width: 220px;
        padding: 15px 0px;
      }
      &:focus {
        outline: none;
      }
      &:hover {
        background: linear-gradient(
          87.84deg,
          var(--first-color),
          var(--last-color)
        );
        color: var(--whiteTextColor);
      }
    }
  }
  .msglabel {
    margin-top: 10px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-weight: 400;
    color: var(--textDarkGreyColor) !important;
  }
}
.ff_danger_text {
  color: var(--redColor);
}
.ff_modal_subplan {
  padding-right: 0px !important;
  .modal-content {
    border-radius: 20px;
    padding: 0 15px;
    background: var(--backgroundColor) !important;
  }
  .modal-header {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    color: var(--primaryColor);
    margin: 10px auto 0;
    border: none;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    @include media-breakpoint-down-xxl {
      font-size: 22px;
      line-height: 30px;
    }
    @include media-breakpoint-down-lg {
      font-size: 20px;
      line-height: 28px;
    }
    @include media-breakpoint-down-sm {
      font-size: 14px;
      line-height: 22px;
    }
    .closebutton {
      position: absolute;
      right: 15px;
      top: 10px;
      cursor: pointer;
      svg {
        width: 32px;
        height: 32px;
        path {
          stroke: var(--primaryColor);
        }
      }
    }
  }
}
.indsubmain {
  i {
    padding: 0 15px;
  }
}
span.select2-selection.select2-selection--single {
  outline: none;
}
.select2-selection--single:focus {
  border: 1px solid transparent;
}

.ff_mobile {
  @include media-breakpoint-down-lg {
    min-height: 89vh !important;
    overflow: hidden;
  }
}

.ff_upload_media_modal {
  .modal-content {
    border-radius: 20px;
  }

  .modal-header {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    color: var(--primaryColor);
    margin: 10px auto 0;
    border: none;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    @include media-breakpoint-down-xxl {
      font-size: 22px;
      line-height: 30px;
    }
    @include media-breakpoint-down-lg {
      font-size: 20px;
      line-height: 28px;
    }
    @include media-breakpoint-down-sm {
      font-size: 16px;
      line-height: 24px;
    }
    .closebutton {
      position: absolute;
      right: 15px;
      top: 10px;
      cursor: pointer;
      Svg {
        width: 32px;
        height: 32px;
      }
    }
  }
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
