:root {
  --backgroundColor: #ffffff;
  --primaryColor: #7945e5;
  --secondaryColor: #ff2ecf;
  --secondaryDarkPink: #de04a3;
  // Text
  --whiteTextColor: #ffffff;
  --darkBlackAndWhiteTextColor: #262626;
  --textColor: #737588;
  --textDarkGreyColor: #979797;
  --lightGreyColor: #f4f4f4;
  --textLabelColor: #7945e5;
  --textPlaceHolderColor: #d1ccd6;
  --textTitleColor: #5d5b5f;
  --blogTitleTextColor: #2f2f2f;
  --blogDesTextColor: #535353;
  --textSubTitleColor: #777777;
  --profileBg: #e5e5e5;
  --DisplayBg: #dddddd;

  // border
  --borderColor: #7945e5;
  --borderBottomHoverColor: #7945e5;
  // button
  --buttonTextColor: #7945e5;
  --buttonBackgroundColor: #ffffff;
  // hover
  --headerMenuHoverColor: #ff2ecf;
  --buttonHoverTextColor: #ffffff;
  --buttonBackgroundHoverColor: #7945e5;
  --top-color: rgba(40, 40, 40, 0.52);
  --middle-color: rgba(96, 56, 138, 0.53);
  --bottom-color: rgba(145, 69, 223, 0.53);
  // logo
  --logoColor1: #530aa2;
  --logoColor2: #ff00ba;
  --logoBorderColor: #ffffff;
  // alert
  --alertSuccessColor: #155724;
  --alertSuccessBg: #d4edda;
  --alertSuccessBorder: #c3e6cb;
  --alertErrorColor: #721c24;
  --alertErrorBg: #f8d7da;
  --alertErrorBorder: #f5c6cb;
  --redColor: #ff0000;
  // Landing screen Banner colors
  --landingPath1: #5c45ed;
  --landingPath2: #9145df;
  --landingPath3: #5c45ed;
  // Old theme var
  --LightGreyColor2: #adadad;
  --modalHeaderBg: #f2f2f2;
  --colorWhite: #ffffff;
  --colorBlack: #000000;
  --contactActiveBg: #f7f7f7;
  --textLightGrey: #aaaaaa;
  --textFieldText: #495057;
  // Section Backgorund colors
  --sectionBgColor: #f0f0f5;
  // Button Gradients
  --first-color: #7945e5;
  --last-color: #671bad;
  --colorFaq: #ffffff;
  --svgGrayToWhite: #737588;
}

// fonts
$roboto: "Roboto", sans-serif;

// colors

$logo-bg: var(--logo-bg);
$logo-color: var(--logo-color);
$logo-border-color: var(--primary-color);
$purple: var(--primary-color);
$light-pink: var(--secondary-color);
$dark-pink: var(--secondary-dark-color);
$subscription-header: var(--subscription-header-color);

$bg-block: var(--bg-block);
$bg-white: var(--bg-white);
$bg-black: var(--bg-black);
$white: var(--color-white);
$black: var(--color-black);
$modalHeaderBg: var(--modal-header-bg);
$contact-active-bg: var(--contact-active-bg);

$text-light-grey: var(--text-light-grey);

$input-bg: var(--input-bg);
$input-color: var(--input-color);
$input-placeholder: var(--input-placeholder);
$text-color: var(--text-color);

$text-black: var(--text-black);

$bg-light: #f2f2f2;
$bg-dark: #31404f;

$camera_border: var(--camera-border);

$grey: #dddddd;
$dark-grey: #a1a1a1;
$light-grey: #f4f4f4;
$light-black: #191919;
$text-grey: #555555;
$color1: #f4f4f4;
$color2: #3197ee;

$input-color: var(--textFieldText);
$colorWhite: var(--colorWhite);
$colorBlack: var(--colorBlack);
$contactActiveBg: var(--contactActiveBg);
$textLightGrey: var(--textLightGrey);
$grey: #dddddd;
$dark-grey: #a1a1a1;
$light-grey: #f4f4f4;
$light-black: #191919;
$text-grey: #555555;
$color1: #f4f4f4;
$color2: #3197ee;

//responsive grids
@mixin media-breakpoint-down-xsss {
  @media (max-width: 320px) {
    @content;
  }
}
@mixin media-breakpoint-down-xss {
  @media (max-width: 375px) {
    @content;
  }
}

@mixin media-breakpoint-down-xs {
  @media (max-width: 575px) {
    @content;
  }
}

@mixin media-breakpoint-down-sm {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin media-breakpoint-down-md {
  @media (max-width: 991px) {
    @content;
  }
}

@mixin media-breakpoint-down-lg {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin media-breakpoint-down-xl {
  @media (max-width: 1400px) {
    @content;
  }
}

@mixin media-breakpoint-down-xxl {
  @media (max-width: 1500px) {
    @content;
  }
}
@mixin media-breakpoint-down-xxxl {
  @media (max-width: 1600px) {
    @content;
  }
}
@mixin imgCover {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

@mixin transition {
  transition: all 0.3s ease-in-out;
}

@mixin box-shadow {
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--backgroundColor);
}

// toggle switch
@mixin inactiveMixin {
  content: "";
  position: absolute;
  display: block;
}

@mixin beforeAnimation {
  -moz-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
  -o-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
  -webkit-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
  transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
}
@mixin afterAnimation {
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 0px 0 hsla(0, 0%, 0%, 0.04),
    0 4px 9px hsla(0, 0%, 0%, 0.13), 0 3px 3px hsla(0, 0%, 0%, 0.05);
  -moz-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  -o-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  -webkit-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
}
